* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
  display: flex;
 flex-wrap: wrap;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    display: list-item;
    text-align: -webkit-match-parent;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}
form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}
#projects {
  text-align: center;
  padding: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 300px);
}

.project {
  margin: 10px;
  flex: 0 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  text-align: center;
}

.project-img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.project:hover .project-img {
  transform: scale(1.1);
}
.project-text {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 22;
  font-weight: bold;
  color: blue;
}
#about {
  margin: 0 auto;
  top: 50px;
}
 #animation-container {
         width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
      }

      #animation-container img {
        width: 300px;
        height: auto;
      }